* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ccc;
}
.container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sprites {
  display: none;
}
#controls {
  text-align: center;
}
#controls img {
  width: 50px;
  height: 50px;
}
